* {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{

    width: 900px;
    height: 500px;

}
h1{
  background: #33bebe;
}

a, li {
  background: lightblue;
  color: white;
}
p {
  font-size: 5px;
  font-style: normal;
  font: status-bar;
  color: #7C8B88;
}
