body {
  background:teal ;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6, li {
  color: lightblue;
}
a {
  background: ;
  color: white;
  padding: 10px opx;
}
p {
  background: #666;
  color: white;
  padding: 10px;
}
