* {
   outline: 1px solid transparent !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}
body{

    width: 1329px;
    height: 1329px;

}
h1{
  text-shadow: 1px 1px 1px green;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
h2 ,h3{

  font-weight: bold;
  font-family: sans-serif;
  color: #7C8B88;
}
li{
  background: green;
  padding: 10px;
  margin-right: 1000px;
  border: 3px solid blue;
  font-style: normal;
  font: status-bar;
}
a, ul, li, h3 {

  color: white;
}

p {
  background: black;
  padding: 10px;
  font-style: normal;
  font: status-bar;
  color: green;
}
#grad, h1, h2, h3 .image, body {
  background: linear-gradient(to right, #30daca , #00c4ff);
}
.awsumness{
  margin-right: 500px;
  padding: 10px;
}
